<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品管理</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
		<a href="http://localhost:8081/"><h1>商品管理</h1></a>
		<div class="text-right">
			
			<form action="/search" method="post" style="display: inline-block;">
				<input type="text" name="searchTerm" placeholder="Enter product name" />
				<button class="btn btn-success">検索
				</button>
			</form>
			<form action="/new" method="post" style="display: inline-block;">
				<button class="btn btn-success">挿入
				</button>
			</form>
			<form action="/show" method="post" style="display: inline-block;">
				<button class="btn btn-success">一覧
				</button>
			</form>
		</div>
		<table class="table" style="margin-top:30px;">
			<thead>
				<tr>
					<th>ID</th>
					<th>商品名</th>
					<th>詳細説明</th>
					<th>属性名</th>
					<th>属性の値</th>
					<th>公開状態</th>
					<th>行動</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProduct}">
					<td th:text="${product.product_id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.description}"></td>
					<td th:text="${product.attributeName}"></td>
					<td th:text="${product.attributeValue}"></td>
					<td><span th:if="${product.publicStatus}"> <input
							type="checkbox" id="publicStatus" name="publicStatus"
							value="true" checked disabled>公開
					</span> <span th:unless="${product.publicStatus}"> <input
							type="checkbox" id="publicStatus" name="publicStatus"
							value="true" disabled>非公開
					</span>
					<td>
<!-- 						<form action="@{'/edit/' + ${product.product_id}}" method="post" style="display: inline-block;"> -->
						<a th:href="@{'/edit/' + ${product.product_id}}"><button class="btn btn-primary">更新</button></a>
<!-- 						</form> --> 

<!-- 						<form action="/delete" method="post" style="display: inline-block;"> -->
						<a th:href="@{'/delete/' + ${product.product_id}}"><button class="btn btn-danger">削除</button></a>
<!-- 						</form> -->
					</td>
				</tr>
				<!-- Các dòng dữ liệu sản phẩm khác -->
			</tbody>
		</table>

	</div>
	<script src="script.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>